<style>
    .container {
        width: 900px;
    }

    .trade-container {
        display: flex;
    }

    .trade-grid {
        border: 1px solid rgba(125, 125, 125, 0.3);
        margin: 5px;
    }

    .trade-grid * {
        border-bottom: 1px solid rgba(125, 125, 125, 0.3);
    }

    .trade-grid-header {
        display: flex;

        font-weight: bold;
    }

    .trade-grid-header > * {
        border-right: 1px solid rgba(125, 125, 125, 0.3);
        padding: 5px;
    }

    .trade-scrollable {
        height: 300px;
        overflow-y: scroll;
    }

    .trade-row {
        display: flex;
    }

    .trade-row > * {
        border-right: 1px solid rgba(125, 125, 125, 0.3);
        padding: 5px;
        text-align: right;
    }

    .trade-row-ticker {
        width: 60px;
        overflow-x: hidden
    }

    .trade-row-profit {
        width: 60px;
    }

    .trade-row-entry-time {
        width: 65px;
    }

    .trade-row-duration {
        width: 75px;
    }

    .trade-row .trade-row-duration {
        width: 75px;
    }

    .trade-row-entry-price {
        width: 60px;
    }
    .trade-row-exit-price {
        width: 60px;
    }

    .trade-ticker-summary {
        width: 325px;
    }

    .trade-row-medium {
        width: 65px;
    }



</style>

<div class="trade-container">
    <div class="trade-grid">
        <div class="trade-grid-header">
            <div class="trade-row-ticker">Ticker</div>
            <div class="trade-row-profit">P/L</div>
            <div class="trade-row-entry-time">Time</div>
            <div class="trade-row-duration">Duration</div>
            <div class="trade-row-entry-price">Entry Price</div>
            <div class="trade-row-exit-price">Exit Price</div>
        </div>
        <div class="trade-scrollable">
            {{range .Trades}}<div class="trade-row">
                <div class="trade-row-ticker">{{.Ticker}}</div>
                <div class="trade-row-profit">{{.GetProfit}}</div>
                <div class="trade-row-entry-time">{{.GetOpenTime}}</div>
                <div class="trade-row-duration">{{.GetDuration}}</div>
                <div class="trade-row-entry-price">{{.GetEntryPrice}}</div>
                <div class="trade-row-exit-price">{{.GetExitPrice}}</div>
            </div>{{end}}
        </div>
    </div>
    <div class="trade-ticker-summary">
        <div class="trade-grid">
            <div class="trade-grid-header">
                <div class="trade-row-ticker">Ticker</div>
                <div class="trade-row-medium"># Trades</div>
                <div class="trade-row-medium">Win %</div>
                <div class="trade-row-profit">P/L</div>
            </div>
            <div class="trade-scrollable">
                {{range .TickerSummary}}<div class="trade-row">
                    <div class="trade-row-ticker">{{.Ticker}}</div>
                    <div class="trade-row-medium">{{.TradeCount}}</div>
                    <div class="trade-row-medium">{{.GetWinPercentage}}</div>
                    <div class="trade-row-profit">{{.GetProfit}}</div>
                </div>{{end}}
            </div>
        </div>
    </div>
</div>
